name: Release

on:
  release:
    types: [ "created" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goarch: [amd64, arm64]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Build binary
        run: |
          echo "Building for ${{ matrix.goarch }}"
          GOOS=linux GOARCH=${{ matrix.goarch }} go build -o observer-${{ matrix.goarch }} .

      - name: Package binary as tar.gz with release tag
        run: |
          TAG=${GITHUB_REF#refs/tags/}
          tar -czf observer-${{ matrix.goarch }}-$TAG.tar.gz observer-${{ matrix.goarch }}

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: observer-${{ matrix.goarch }}-${GITHUB_REF#refs/tags/}.tar.gz
          path: observer-${{ matrix.goarch }}-${GITHUB_REF#refs/tags/}.tar.gz

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          path: .

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: |
            observer-amd64-${GITHUB_REF#refs/tags/}.tar.gz
            observer-arm64-${GITHUB_REF#refs/tags/}.tar.gz

